@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library Admin Panel</title>

    <!-- Custom fonts for this template-->

    <link href="@Href("~/lib/bootstrap/dist/js")" />
    <link href="@Href("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="@Href("~/vendor/fontawesome-free/css/all.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="@Href("~/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Href("~/css/main.css")" rel="stylesheet">
    <link href="@Href("~/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e6ad26fe87.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="wrapper">
        <!-- Sidebar begin -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index" asp-controller="Home">
                <img src="@Href("~/img/logo.png")" width="38rem">
                <div class="sidebar-brand-text mx-2">Admin Panel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>İdarəetmə paneli</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesProfile"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-user-md"></i>
                    <span>Hesabım</span>
                </a>
                <div id="collapsePagesProfile" class="collapse" aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Account" asp-action="AccountDetails" asp-route-id="@HttpContextAccessor?.HttpContext?.Session.GetString("AdminId")">Məlumatları yenilə</a>
                        <a class="collapse-item" asp-controller="Account" asp-action="ChangePassword" asp-route-id="@HttpContextAccessor?.HttpContext?.Session.GetString("AdminId")">Parolu dəyiş</a>
                    </div>
                </div>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Əlavələr
                </div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Activity" asp-action="Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Yeniliklər</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Hesablar</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!-- <a class="collapse-item" href="login.html">Login</a> -->
                        <a class="collapse-item" asp-action="NewUser" asp-controller="User">Yeni istifadəçi</a>
                        <a class="collapse-item" asp-action="NewAccount" asp-controller="Account">Yeni hesab</a>
                        <a class="collapse-item" asp-action="ResetPassword" asp-controller="Authentication" asp-route-id="@HttpContextAccessor?.HttpContext?.Session.GetString("AdminId")">Parol sıfırlama</a>
                        
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cədvəllər</span>
                </a>
                <div id="collapseTables" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item collapsed d-flex justify-content-between align-items-center" href="#"
                           data-toggle="collapse" data-target="#collapseUser">
                            <span class="font-weight-bold">İstifadəçilər</span><i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="collapseUser">
                            <a class="collapse-item" asp-action="ShowUsers" asp-controller="User">Ümumi istifadəçilər</a>
                            <a class="collapse-item" asp-action="ShowAdmins" asp-controller="User">Adminlər</a>
                            <a class="collapse-item" asp-action="ShowStudents" asp-controller="Student">Tələbələr</a>
                            <a class="collapse-item" asp-action="Index" asp-controller="Account">Hesablar</a>
                        </div>

                        <a class="collapse-item collapsed d-flex justify-content-between align-items-center" href="#"
                           data-toggle="collapse" data-target="#collapseBook">
                            <span class="font-weight-bold">Kitablar</span><i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="collapseBook">
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="2">Ümumi kitablar</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="0">Elektron kitablar</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="1">Fiziki kitablar</a>
                        </div>

                        <a class="collapse-item collapsed d-flex justify-content-between align-items-center" href="#"
                           data-toggle="collapse" data-target="#collapseJournal">
                            <span class="font-weight-bold">Məqalələr</span><i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="collapseJournal">
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="3">Ümumi məqalələr</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="4">Elektron məqalələr</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="5">Fiziki məqalələr</a>
                        </div>

                        <a class="collapse-item collapsed d-flex justify-content-between align-items-center" href="#"
                           data-toggle="collapse" data-target="#collapseResource">
                            <span class="font-weight-bold">Digər Resurslar</span><i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="collapseResource">
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="6">Jurnallar</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="7">Avtoreferatlar</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="8">Dərsliklər</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowEducationalPrograms">Fənn proqramları</a>
                            <a class="collapse-item" asp-controller="Resource" asp-action="ShowResources" asp-route-id="9">Nəşrlərimiz</a>
                        </div>

                        <div class="collapse-divider"></div>

                        <a class="collapse-item collapsed d-flex justify-content-between align-items-center" href="#"
                           data-toggle="collapse" data-target="#collapseOther">
                            <span class="font-weight-bold">Başqaları</span><i class="fas fa-angle-down"></i>
                        </a>
                        <div class="collapse" id="collapseOther">
                            <a class="collapse-item" asp-action="ShowAuthors" asp-controller="Author">Müəlliflər</a>
                            <a class="collapse-item" asp-controller="Category" asp-action="Index">Katoqriyalar</a>
                            <a class="collapse-item" asp-controller="Sector" asp-action="Index">Sektorlar</a>
                            <a class="collapse-item" asp-action="Index" asp-controller="Faculty">Fakültələr</a>
                            <a class="collapse-item" asp-action="Index" asp-controller="Specialty">İxtisaslar</a>
                            <a class="collapse-item" asp-action="Index" asp-controller="Group">Qruplar</a>
                            <a class="collapse-item" href="#">İmtiyazlar</a>
                            <a class="collapse-item" href="#">İcazələr</a>
                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <!-- Sidebar end -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Taleh Məlikov</span>
                                <img class="img-profile rounded-circle" src="@Href("~/img/undraw_profile.svg")">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="update-details.html">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hesabım
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tənzimləmələr
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıxış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!--Begin page content-->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- Footer -->
                <footer class="sticky-footer bg-white align-self-end">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
        </div>

        <!--Content -->
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıxmağa hazırsız?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Cari sessiyanızı bitirməyə hazırsınızsa, aşağıda "Çıxış" seçin.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ləğv et</button>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Authentication">Çıxış</a>
                </div>
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Modals", required: false)

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="@Href("~/vendor/jquery/jquery.min.js")"></script>
    <script src="@Href("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <!-- Core plugin JavaScript-->
    <script src="@Href("~/vendor/jquery-easing/jquery.easing.min.js")"></script>

    <!-- Custom scripts for all pages-->
    <script src="@Href("~/js/sb-admin-2.min.js")"></script>

    <!-- Page level plugins -->
    <script src="@Href("~/vendor/chart.js/Chart.min.js")"></script>

    <!-- Page level custom scripts -->
    <script src="@Href("~/js/demo/chart-area-demo.js")"></script>
    <script src="@Href("~/js/demo/chart-pie-demo.js")"></script>@*
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>*@
    <script src="@Href("~/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
    <script src="@Href("~/js/demo/datatables-demo.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
