@using Library.WebUI.ViewModels
@model AccountViewModel
@{
    Layout = "_PrivateOfficeLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIA Library</title>
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="@Href("~/css/privateoffice.css")">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel = "icon" href = "img/logo.png">
</head>

<body>
    <header id="header">
        <div class="toggle">
            <i class="far fa-bars"></i>
        </div>
        <div class="profile mx-2 text-dark d-flex align-items-center text-decoration-none">
            <span class="mx-2">@Model.Account.User.FirstName @Model.Account.User.LastName</span>
             <a asp-controller="PrivateOffice" asp-action="LogOut">
                <i  class="fas fa-sign-out fa-2x text-primary"></i>
             </a>
        </div>
    </header>

    <div class="left-nav">
        <nav class="navbars">
            <div>
                <a asp-action="Index" asp-controller="PrivateOffice" class="site">
                    <span class="name">Şəxsi Kabinet</span>
                </a>

                <div class="nav-items">
                    <span class="nav-links">
                        <span class="name list">Şəxsi Kabinet</span>

                        <ul class="dropdowns">
                            <li class="drop-name"><a asp-controller="PrivateOffice" asp-action="Index" class="drop-name">Məlumatları yenilə</a></li>
                            <li class="drop-name"><a asp-controller="Authentication" asp-action="ChangePassword" class="drop-name">Parolu dəyiş</a></li>
                        </ul>
                    </span>

                    <a asp-controller="Home" asp-action="Index" class="nav-links text-decoration-none">
                        <span class="name">Ana Sehife</span>
                    </a>

                    <span class="nav-links">
                        <span class="name list">Bizim Kitabxana</span>

                        <ul class="dropdowns">
                            <li class="drop-name"><a asp-controller="OurLibrary" asp-action="MoreInfo" class="drop-name">Ümumi məlumat</a> </li>
                            <li class="drop-name"><a asp-controller="OurLibrary" asp-action="ExternalSource" class="drop-name">Digər kitabxanalar</a> </li>
                            <li class="drop-name"><a asp-controller="Activity" asp-action="Index" class="drop-name">Yeniliklər</a> </li>
                        </ul>
                    </span>

                    <span class="nav-links">
                        <span class="name list">E-Kitabxana</span>

                        <ul class="dropdowns">
                            <li class="drop-name"><a href="#" class="drop-name">E-Kataloq</a> </li>
                            <li class="drop-name"><a asp-controller="Category" asp-action="Index" class="drop-name">E-Kitablar</a></li>
                            <li class="drop-name r-list">E-Resurslar</li>

                            <ul class="drop r-drop">
                                @foreach (var item in @ViewBag.AllFileTypes)
                                {
                                     <li class="drop-name"><a asp-controller="File" asp-action="ShowFileteredFiles" asp-route-id="@item.Id" class="drop-name">@item.Name</a></li>
                                }
                            </ul>
                        </ul>
                    </span>

                </div>
            </div>


        </nav>
    </div>
}

    <section id="account" class="py-2 d-flex">
        <div class="container-lg">
            <h1 class="text-gray-900 h4">Şəxsi Kabinet</h1>


            <div class="row py-2 px-lg-4 flex-lg-nowrap">
                <div class="col-sm-12 col-lg-4">
                    <div class="img-user w-100 text-center">
                        <img src="~/images/user.png">
                    </div>
                </div>

                <form asp-action="UpdateDetails" asp-controller="PrivateOffice">
                    <div class="col-sm-12 col-lg-8">

                    <input hidden asp-for="Account.Id"/>
                    <input hidden asp-for="Account.User.Id"/>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Ad</span>
                        <input type="text" aria-label="FirstName" class="form-control" asp-for="Account.User.FirstName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Soyad</span>
                        <input type="text" aria-label="LastName" class="form-control" asp-for="Account.User.LastName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Ata adı</span>
                        <input type="text" aria-label="FatherName" class="form-control" asp-for="Account.User.FatherName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Hesab adı</span>
                        <input type="text" readonly aria-label="AccountName" class="form-control" asp-for="Account.AccountName">
                    </div>

                    <div class="input-group py-2">
                        <span class="input-group-text text-bold">Email</span>
                        <input type="email" aria-label="AccountName" class="form-control" asp-for="Account.Email">
                    </div>

                    @if(@Model.Student!=null)
                       {
                           <input hidden asp-for="Student.Id"/>
                           <input hidden asp-for="Student.Specialty.Id"/>
                           <input hidden asp-for="Student.GroupId"/>
                           <input hidden asp-for="Student.Group.Sector.Id"/>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">İxtisas</span>
                                <input type="text" readonly aria-label="SpecialtyName" class="form-control" asp-for="Student.Specialty.Name">
                                @*@Html.DropDownListFor(s=> s.SelectedSpecialty.Id, Model.SpecialtySelectList,new {@class="custom-select form-control"})*@
                            </div>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Fakültə</span>
                                <input type="text" readonly aria-label="FacultyName" class="form-control" asp-for="Student.Specialty.Faculty.Name">
                           
                            </div>

                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Sektor</span>
                                <input type="text" readonly aria-label="SectorName" class="form-control" asp-for="Student.Group.Sector.Name">
                           </div>
                           
                           <div class="input-group py-2">
                                <span class="input-group-text text-bold">Qrup</span>
                                <input type="text" readonly aria-label="GroupName" class="form-control" asp-for="Student.Group.Name">
                           </div>
                       }

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group py-2">
                                <span class="input-group-text text-bold">Doğum tarixi</span>
                                <input type="date" aria-label="BirthDate" class="form-control" asp-for="Account.User.BirthDate">
                            </div>
                        </div>


                        <div class="col-6 col-lg-3">
                            <div class="form-check">
                                @Html.RadioButtonFor(m => m.SelectedGender,false)
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Kişi
                                </label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(m => m.SelectedGender,true)
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Qadın
                                </label>
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <button type="submit" class="btn btn-primary m-2">Yadda saxla </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>

    <div class="toggle">
        <i class="far fa-bars"></i>
    </div>
</body>
</html>