@model CategoryFileViewModel
@{
    ViewData["Title"]= "DIA";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down justify-content-between align-items-center">
                <a class="btn btn-menu red" href="#">
                    E-Kitablar
                </a>
                <div class="input-area ">
                    <form asp-action="SearchByName" asp-controller="File">
                        <input type="text" class="input-nav" placeholder="Kitab Axtar">
                        <button class="fas fa-search" type="submit"></button>
                    </form>

                </div>
            </nav>
        </div>
    </section>
}
<section id="category" class="my-5">
    <div class="container-lg">
        <div class="category-div">
            <div class="category-title"><button class="p-2">Katiqoriyalar</button></div>
            <div class="category d-flex p-2 justify-content-between">
                @{
                    var categories = Model.CategoryModel.CategoryList.Data;
                    int count = Model.CategoryModel.CategoryList.Data.Count;
                    int i = 0;
                    for (; i < (count / 6); i++)
                    {
                        <div class="category-row">

                            <ul class="list">

                                @for (int j = i * 6; j < (i + 1) * 6; j++)
                                {
                                    <li>
                                        <a asp-action="GetAllFilesByCategoryId" asp-controller="File" asp-route-id="@categories[j].Id" class="category-link">@categories[j].Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if ((count - i * 6) > 0)
                    {
                        <ul class="list">
                            @for (int j = i * 6; j < count; j++)
                            {
                                <li>
                                    <a asp-action="GetAllFilesByCategoryId" asp-controller="File" asp-route-id="@categories[j].Id" class="category-link">@categories[j].Name</a>
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</section>
<section id="book" class="py-3">
    <hr/>
    <div class="container-lg">
        <div class="row">
            @{
                var files = Model.FileModel.Files.Data;
                @for (int k = 0; k < files.Count; k++)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12 py-3">
                        <a  class="book" asp-route-id="@files[k].Id"asp-controller="File" asp-action="GetById">
                            <img src="@Url.Action("Picture","Resources",new{name = files[k].PhotoPath})" width="200" height="250">
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>