@using System.Text
@model CategoryFileViewModel
@{
    ViewData["Title"] = "SearchByName";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down">
                <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                    Ana səhifə
                </a>
            </nav>
        </div>
    </section>
}

<body>
<section id="bookResult" class="my-5 px-lg-3">
    <div class="container-fluid">
        <div class="container-lg">
            <div class="book-result d-flex flex-column">
                @foreach (var item in Model.FileModel.FileAuthors.Data)
                {
                    <div class="book-div py-4">
                        <a asp-controller="File" asp-action="ShowFileInfo" asp-route-guid="@item.File.GUID">
                            <img src="@Url.Action("Picture","Resources", new{ name = item.File.PhotoPath})" class="result-img">
                        </a>
                        <div class="book-info d-flex flex-column px-4 ">
                            <h6 class="h6"><span class="text-bold">Kitab Adı: </span>@item.File.Name</h6>
                            <h6 class="h6">
                                @{
                                        var builder = new StringBuilder();
                                        foreach (var author in item.Authors)
                                        {
                                            builder.Append(author.FirstName);
                                            builder.Append(" ");
                                            builder.Append(author.LastName);
                                            builder.Append(", ");
                                        }
                                        <span class="text-bold" >Müəllif: </span>  @builder.ToString().Trim().Trim(',')
                                    }
                            </h6>
                            <h6 class="h6"><span class="text-bold">Səhife: </span>@item.File.PageNumber</h6>
                        </div>
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
</section>
</body>

