@model FileViewModel
@{
    ViewData["Title"] = "GetById";
    Layout = "_CommonLayout";
}
@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down justify-content-start align-items-center">
                <a class="btn btn-menu red" asp-controller="Home" asp-action="Index">
                    Ana səhifə
                </a>
                <a class="btn btn-menu" asp-controller="File" asp-action="ShowFilteredFiles" asp-route-id="@Model.FileAuthor.Data.File.FileType.Id">
                    @Model.FileAuthor.Data.File.FileType.Name
                </a>
            </nav>
        </div>
    </section>
}
<section id="bookread" class="py-4">
    <div class="container-lg">
        @{
            var fileAuthorData = Model.FileAuthor.Data;
            <div class="bookread">

                <h3>@fileAuthorData.File.Name</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 text-center py-3">
                        <img src="@Url.Action("Picture", "Resources", new {name = fileAuthorData.File.PhotoPath})" width="200px">
                    </div>
                    <div class="col-lg-8 col-sm-12 py-3">
                        <table class="table table-bordered table-striped">

                            <tbody>
                                <tr>
                                    <th class="col text-end">Kitabın Adı</th>
                                    <td class="col">@fileAuthorData.File.Name</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Müəllif</th>
                                    <td class="col">Mustafayeva Səmayə , Cavadova Zərifə , Hüseynli Raminə</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Nəşriyyat </th>
                                    <td class="col">@fileAuthorData.File.PublisherName</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Nəşr ili</th>
                                    <td class="col">@fileAuthorData.File.PublicationDate.Year</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Səhifə</th>
                                    <td class="col">@fileAuthorData.File.PageNumber</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Kateqoriya</th>
                                    <td class="col">
                                        <a asp-controller="File" asp-action="GetAllFilesByCategoryId" asp-route-id="@fileAuthorData.File.Category.Id" class="text-danger">@fileAuthorData.File.Category.Name</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Description</th>
                                    <td class="col">
                                        <img src="~/images/qr.png" alt="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="buttons float-end py-2">
                            <a href="#" class="btn btn-primary">Oxumaq</a>
                            <a href="#" class="btn btn-danger" download>Yükləmək</a>
                        </div>
                    </div>
                </div>


            </div>
        }
       
    </div>
</section>

