@using System.Text
@inject IHttpContextAccessor HttpContextAccessor
@model FileViewModel
@{
    ViewData["Title"] = "GetById";
    Layout = "_CommonLayout";
}
@section navbar_bottom{
    <section id="navbottom">

        <div class="container-lg">
            <nav class="navbar-down justify-content-between align-items-center">
                <a class="btn btn-menu red" asp-controller="Category" asp-action="Index">
                    E-Kitablar
                </a>
            </nav>
        </div>
    </section>
}
    <section id="bookread" class="py-4">
        <div class="container-lg">
            @{
            var file = Model.FileAuthor.Data;
            <div class="bookread">

                <h3>@file.File.Name</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 text-center py-3">
                        <img src="@Url.Action("Picture", "Resources", new {name = file.File.PhotoPath})" width="200px">
                    </div>
                    <div class="col-lg-8 col-sm-12 py-3">
                        <table class="table table-bordered table-striped">

                            <tbody>
                                <tr>
                                    <th class="col text-end">Kitabın Adı</th>
                                    <td class="col">@file.File.Name</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Müəllif</th>
                                    <td class="col">
                                        @{
                                            var builder = new StringBuilder();
                                            foreach (var m in file.Authors)
                                            {
                                                builder.Append(m.FirstName);
                                                builder.Append(" ");
                                                builder.Append(m.LastName);
                                                builder.Append(", ");
                                                <a>@builder.ToString().Trim().Trim(',')</a>
                                            }
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Nəşriyyat </th>
                                    <td class="col">@file.File.PublisherName</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Nəşr ili</th>
                                    <td class="col">@file.File.PublicationDate.Year</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Səhifə</th>
                                    <td class="col">@file.File.PageNumber</td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Kateqoriya</th>
                                    <td class="col">
                                        <a asp-controller="File" asp-action="GetAllFilesByCategoryId" asp-route-id="@file.File.Category.Id" class="text-danger">@file.File.Category.Name</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th class="col text-end">Description</th>
                                    <td class="col">
                                        <img src="~/images/qr.png" alt="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="buttons float-end py-2">
                            <a href="@Url.Action("DownloadFileFromFileSystem","Resources",new {id=file.File.Id})" class="btn btn-primary">Oxumaq</a>
                            @if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("AccessToken")))
                            {
                                <a href="@Url.Action("DownloadFileFromFileSystem","Resources",new {id=file.File.Id})" class="btn btn-danger" download>Yükləmək</a>
                            }
                           
                        </div>
                    </div>
                </div>


            </div>
        }

    </div>
</section>

