@model ActivityViewModel
@{
    Layout = "_Layout";
}

<div class="container mb-sm-3">
    <div class="d-flex flex-wrap justify-content-center row">
        @{
            foreach (var item in Model.Activities)
            {
                <div class="col-sm-3 d-flex flex-column card mr-sm-2 mb-sm-1">
                    <h6 class="card-header text-center">@item.Title</h6>
                    <div class="card-body">
                        <p class="card-text text-justify">@item.Content.Substring(0,135) ...</p>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-danger mr-sm-2 delete" data-toggle="modal" data-target="#deleteModal" data-action="Delete" data-controller="Activity" data-id="@item.Id">Silmək</a>
                            <a asp-action="Update" asp-controller="Activity" class="btn btn-primary mr-sm-2 px-sm-3" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="ShowActivity" asp-controller="Activity" class="btn btn-primary px-sm-2" asp-route-id="@item.Id">Show</a>
                        </div>
                    </div>

                </div>
            }
        }
        
    </div>
    
</div>
@section Scripts{
    <script src="~/js/section.js"></script>

}
