@model GroupViewModel
@{
    Layout = "_Layout";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Qruplar</h1>
<p class="mp-4">
    <span class="pull-left">
        <button type="button" class="btn btn-primary float-right mb-2" name="submit" id="submit" data-toggle="modal" data-target="#addUserModal">Əlavə et</button>
    </span>
</p>

<br>
<div class="card shadow mb-4 w-100">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Qrup adı</th>
                        <th>İxtisas</th>
                        <th>Fakültə</th>
                        <th>Sektor</th>
                        <th>Yenilə</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model.Groups)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Speciality.Name</td>
                                <td>@item.Speciality.Faculty.Name</td>
                                <td>@item.Sector.Name</td>
                                <td class="text-center"><a class="btn btn-secondary px-4 bgupdate" onclick="ShowSaveModal(this)" data-id="@item.Id" id="btnUpdate">Yenilə</a></td>
                                <td class="text-center"><a class="btn btn-danger delete px-4" data-id="@item.Id" data-toggle="modal" data-target="#deleteModal" data-controller="Group" data-action="Delete">Sil</a></td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals{
    <!-- Add User Modal - addUserModal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form class="user" asp-action="Add" asp-controller="Group">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Qrup əlavə et</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row d-flex justify-content-center">
                            <div class="col-sm-6 col-sm-10 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-register mb-2"
                                       id="exampleInputFirstName" placeholder="Qrup adı" asp-for="@Model.Group.Name">
                                <select asp-items="@Model.SpecialtyList" asp-for="Group.Speciality.Id" class="form-control form-control-register mb-2">
                                    <option selected>İxtisas seçin</option>
                                </select>
                                <select asp-items="@Model.SectorList" asp-for="Group.Sector.Id" class="form-control form-control-register mb-2">
                                    <option selected value="0">Sektor seçin</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" >Təsdiqlə</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Ləğv et</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="createModal">
    </div>

}

    
@section Scripts{
    <script>
        function ShowSaveModal(elem) {
            var dataId = $(elem).data("id");

            $.ajax({
                url: "/Group/SaveGroup?id=" + dataId,
                success: function (data) {
                    console.log(data);
                    $('#createModal').html(data);
                    $("#createModal").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $(document).ready(function () {

            $('#dataTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" style="width:100%;" />');
            });

            var table = $('#dataTable').DataTable();

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>
    <script src="@Href("~/js/section.js")"></script>
}