@model GroupViewModel

<div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content" id="editDebtModelBody">
        <div style="overflow:auto;" class="modal-body">
            <form asp-controller="Group" asp-action="SaveGroup" class="form-group">
                <input hidden asp-for="@Model.Group.Id" />

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Ad:</label>
                    <input asp-for="@Model.Group.Name" class="form-control mb-2 mr-sm-2" required/>
                    <span asp-validation-for="@Model.Group.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Sektor:</label>
                    <select class="custom-select form-control" asp-items="@Model.SectorList" asp-for="Group.Sector.Id">
                        <option value="0" selected>Sektor seçin</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">İxtisas:</label>
                    <select class="custom-select form-control" asp-items="@Model.SpecialtyList" asp-for="@Model.Group.Speciality.Id">
                        <option selected >İxtisas seçin</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary bgupdate">Yadda saxla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
