@model AuthenticationViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text
@*@inject IViewLocalizer Localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

}*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIA</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
          integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-submenu@3.0.1/dist/css/bootstrap-submenu.css">

</head>

<body>
    <header>
        <section id="navtop">
            <div class="container-lg">
                <nav class="navbar">
                    <a class="logo" asp-action="Index" asp-controller="Home">
                        <img src="~/images/logo.png" width="100rem" class="d-inline-block">
                        <span class="logo-text">
                            Azərbaycan Respublikası Prezidenti yanında Dövlət İdarəçilik Akademiyası Elektron Kitabxana
                        </span>
                    </a>

                    <ul class="navbar-top">
                        <div class="li-bottom d-flex">
                        <li class="nav-item mx-md-3">
                            <i class="far fa-envelope"></i><a href="mailto:info@dia.edu.az"
                                                              class="text-dark"> info@dia.edu.az</a>
                        </li>
                        <li class="nav-item mx-md-3">
                            <i class="far fa-phone-alt"></i><a href="tel:+994124925893" class="text-dark"> (+994 12) 492 58 93</a>
                        </li>
            </div>
            <li class="nav-item mx-md-1">
                <div class="lang">
                    <select class="form-select-sm text-bold p-1">
                        <option class="text-bold" value="az-Latn-AZ" selected>Azərbaycan</option>
                        <option class="text-bold" value="ru-RU">Русский</option>
                        <option class="text-bold" value="en-US">English</option>
                    </select>
                </div>
            </li>

            </ul>
            </nav>
            </div>
        </section>

        @RenderBody()

    </header>

    <section id="main-photo" class="pt-2 pb-5">
        <div class="container-lg">
            <div class="image-area">
                <img class="main-image" src="~/images/mainbg.png" width="100%" height="auto">
            </div>
        </div>
    </section>

    <section id="books">
        <div class="container-lg">
            <div class="title d-flex justify-content-between">
                <div class="left">
                    <span class="text-bold">Yeni əlavə olunanlar</span>
                    <a asp-action="ShowAllFiles" asp-controller="File" class="text-italic">-bütün kitablar</a>
                </div>
                <div class="right">
                    <button class="prev-btn">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <button class="next-btn">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <hr>

            <div class="swiper">
                <div class="swiper-wrapper">
                    @{
                        @foreach (var item in @Model.NewAddedFileAuthorList)
                        {
                            <div class="swiper-slide">
                                <a class="card-book ">
                                    <img width="140" height="180" src="@Url.Action("Picture","Resources" ,new { name = item.File.PhotoPath })">
                                </a>
                                <div class="hover-content shadow-sm">
                                    <h6>
                                        <span class="text-bold">
                                            @{
                                                var builder = new StringBuilder();
                                                foreach (var m in item.Authors)
                                                {
                                                    builder.Append(m.FirstName);
                                                    builder.Append(" ");
                                                    builder.Append(m.LastName);
                                                    builder.Append(", ");
                                                    <a>@builder.ToString().Trim().Trim(',')</a>
                                                }
                                            }.
                                        </span> @item.File.Name.- @item.File.PublicationDate.Year. - @item.File.PageNumber s.
                                    </h6>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </section>

    <section id="sign" class="py-2 mb-4">
        <div class="container-lg">
            <div class="text-box">
                <span class="fw-bold pb-2">Qeydiyyat</span>

                <span class="text">
                    1.Kitabxanaya yazılmaq üçün şəxsiyyəti təsdiq edən sənəd və bir ədəd 3X4 ölçülü
                    şəkil təqdim olunmalıdır.
                </span>
                <span class="text-">
                    2.Kitabxananın Oxu zallarından istənilən oxucu şəxsiyyəti təsdiq edən sənəd
                    təqdim edərək istifadə edə bilər.
                </span>

                <span class="fw-bold mx-md-5 my-2 pt-2">Əlaqə nömrəsi:</span>
                <span class="mx-md-5 px-md-5 px-3 fw-bold">Oxu zalı: (+99412) 492-65-29</span>
            </div>
        </div>
    </section>

    <section id="carousel">
        <div class="container-lg">
            <div class="carousel my-5">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="https://heydaraliyevcenter.az/" target="_blank"><img src="images/HeydarAliyevCenter.jpg"></a>
                    </div>

                    <div class="item">
                        <a href="https://president.az/" target="_blank"><img src="images/PresidentAz.gif"></a>
                    </div>

                    <div class="item">
                        <a href="https://heydar-aliyev-foundation.org/az" target="_blank"><img src="images/HeydarAliyevFoundation.png"></a>
                    </div>

                    <div class="item">
                        <a href="http://www.millikitabxana.az/" target="_blank"><img src="images/libraries_anl.png"></a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="footer pt-5 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 align-items-center">
                        <div class="icon-div text-center">
                            <img src="images/logo.png">
                            <div class="icons">
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-md-center">
                        <h5 class="fw-bold mb-3">Faydalı Linklər</h5>
                        <div class="line"></div>
                        <div class="links">
                            <a href="https://azerbaijan.az/" class="link" target="_blank">azerbijan.az</a>
                            <a href="http://heydar-aliyev.org/" class="link" target="_blank">heydar-aliyev.org</a>
                            <a href="https://president.az/" class="link" target="_blank">president.az</a>
                            <a href="https://edu.gov.az/" class="link" target="_blank">edu.gov.az</a>
                            <a href="https://science.gov.az/az" class="link" target="_blank">science.az</a>
                            <a href="https://bsun.org/" class="link" target="_blank">bsun.org</a>
                            <a href="http://sesremo.eu/" class="link" target="_blank">sesremo.eu</a>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-md-center flex-column">
                        <h5 class="fw-bold mb-3">Əlaqə</h5>
                        <div class="line"></div>

                        <div class="contact">
                            <span class="d-block fw-light">
                                <span class="fw-bold text-light">Ünvan: </span>Azərbaycan
                                Respublikası
                            </span>
                            <span class="d-block fw-light">Bakı ş., Səbail r., AZ 1001,</span>
                            <span class="d-block fw-light"> Lermontov küç. 74</span>
                            <span class="d-block fw-light">
                                <span class="fw-bold text-light">Tel: </span>(+99412)
                                596-26-13
                            </span>
                            <span class="d-block fw-light">
                                <span class="fw-bold text-light">
                                    Email:
                                </span>info@dia.edu.az
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="line-footer mt-5 mb-2"></div>
                        <span class="copyright fw-light">
                            Copyright © 2022 Elektron Kitabxana. Bütün hüquqlar qorunur.
                            Məlumatlardan istifadə zamanı istinad vacibdir.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- MODAL LOGIN! -->
    <div class="modal-bg">
        <div class="login-page py-4">
            <form asp-action="Login" asp-controller="Authentication">
                <img src="images/logo.png">
                <h4 class="pb-2">Şəxsi kabinet</h4>
                <input type="text" class="login-input mb-2" placeholder="Email" asp-for="LoginModel.AccountName">
                <div class="group">
                    <i class="fas fa-eye-slash eye"></i>
                    <input type="password" class="login-input mb-2 show-hide" placeholder="Şifrə" asp-for="LoginModel.Password">
                </div>
                <a asp-controller="Authentication" asp-action="ForgotPassword">Şifrənizi unutmusunuz?</a>
                <button type="submit" class="btn btn-primary m-2">Daxil Ol </button>
                <button type="button" class="btn btn-secondary m-2 closed">Geri</button>
            </form>
        </div>
    </div>



    <div class="modalbackdrop"></div>
    <!-- Button ScrollTop -->
    <div class="top-btn">
        <i class="fas fa-arrow-alt-up"></i>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="@Href("~/js/navbar.js")"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/modal.js"></script>
    @*<script src="~/js/localization.js"></script>*@
    <script src="~/js/password.js"></script>
    <script src="@Href("~/js/dropdown.js")"></script>
</body>
</html>
