@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ExternalSourceViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<body>
    @section navbar_bottom
    {
       <section id="navbottom">
          <div class="container-lg">
              <nav class="navbar-down">
                <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                    Ana səhifə
                </a>
                
                    <div class="dropdown">
                        <a class="btn btn-menu dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown">
                            Bizim kitabxana
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("MoreInfo","OurLibrary")">Ümumi məlumat</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ExternalSource","OurLibrary")">Digər kitabxanalar</a></li>
                            <li><a class="dropdown-item" asp-controller="Activity" asp-action="Index">Yeniliklər</a></li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <a class="btn btn-menu dropdown-toggle kitabxanaBtn" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown" data-submenu>
                            E-Kitabxana
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="ECatalogIndex" asp-controller="File">E-Kataloq</a>
                            <a class="dropdown-item" asp-controller="Category" asp-action="Index">E-Kitablar</a>
                            <div class="dropdown dropright dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle">E-Resurslar</a>

                                <div class="dropdown-menu">
                                    @foreach (var item in @ViewBag.AllFileTypes)
                                    {
                                        <a asp-controller="File" asp-action="ShowFilteredFiles" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a>
                                    }
                                </div>
                            </div>
                            <a class="dropdown-item" asp-controller="File" asp-action="ShowOurPublications">Nəşrlərimiz</a>
                        </div>


                    </div>
                
               @* @{
                    if(!string.IsNullOrEmpty(HttpContextAccessor?.HttpContext?.Session.GetString("AccessToken")))
                    {
                        <a class="btn btn-menu " asp-action="Index" asp-controller="PrivateOffice" >
                            Şəxsi kabinet
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-menu modal-btn">
                            Giriş
                        </a>
                    }
                }*@
              </nav>
          </div>
       </section>
    }


    <section id="otherLib" class="other-lib" class="py-4">
        <div class="container-lg">
            <h3 class="pt-4">Digər kitabxanalar</h3>
            <hr>

            @foreach(var item in Model.ExternalSourceList.Data)
            {
                   <div class="other-lib-div d-flex">
                     <a href="#" class="lib-img">
                         <img src="@Url.Action("GetPhoto","OurLibrary", new { path = item.PhotoPath })">
                         <div class="overlay">
                             <i class="fas fa-link"></i>
                         </div>
                     </a>
            
                     <div class="lib-txt mx-3 my-1">
                         <h5 class="text-bold">@item.Name</h5>
                         <a href="@item.SourceLink" class="lib-url text-danger" target="_blank">@item.SourceLink</a>
                     </div>
                   </div>  
                   <hr>
            }
        </div>
    </section>

    <!-- Button ScrollTop -->
    <div class="top-btn">
        <i class="fas fa-arrow-alt-up"></i>
    </div>

    <script src="~/js/modal.js"></script>
    <script src="~/js/e-books.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>