@model UserViewModel
@{
    ViewData["Title"] = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Bloklanmış istifadəçilər</h1>
<p class="mp-4">
    Burdakı istifadəçilər <span class="text-bold">administrator</span> tərəfindən bloklanmışdır.
    <span class="pull-left">
        <a class="btn btn-primary float-right mr-2" asp-action="ShowUsers" asp-controller="User">Aktiv istifadəçilər</a>
    </span>
</p>
<br>

<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Ata adı</th>
                        <th>Doğum tarixi</th>
                        <th>Sonuncu düzəliş</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.FatherName</td>
                            <td>@item.BirthDate.ToString("d")</td>
                            <td>@item.LastModified.ToString("d")</td>
                            @{
                                if (item.IsStudent)
                                {
                                    <td>Tələbə</td>
                                }
                                else
                                {
                                    <td>İşçi</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="createModal">
    </div>
}

    @section Scripts{
    <script>
        function ShowSaveModal(elem) {
            var dataId = $(elem).data("id");

            $.ajax({
                url: "/User/SaveUser?id=" + dataId,
                success: function (data) {
                    console.log(data);
                    $('#createModal').html(data);
                    $("#createModal").modal("show");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $(document).ready(function () {

            $('#dataTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" style="width:100%;" />');
            });

            var table = $('#dataTable').DataTable();

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>
    <script src="@Href("~/js/section.js")"></script>
}