@model UserViewModel
@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">İstifadəçi əlavə et!</h1>
    </div>
    
    <form class="user" asp-action="NewUser" asp-controller="User">
        <div class="form-group row">
            <div class = "col-sm-6 d-flex">
                <div class="mr-sm-4">
                   
                    @Html.RadioButtonFor(model => model.User.IsStudent,false,new { @checked=true,@id="hide"})
                    <label for="hide">İşçi</label>
                </div>
                            
                <div>
                    @Html.RadioButtonFor(model => model.User.IsStudent,true,new{@checked=false,@id="show"})
                    <label for="show">Tələbə</label>
                </div>
            </div>
        </div>
        <!-- Ad,soyad -->
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputFirstName" placeholder="Ad" asp-for="@Model.User.FirstName" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputLastName" placeholder="Soyad" asp-for="@Model.User.LastName" required>
            </div>
        </div>

        <!-- Ata adı,doğum günü -->
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-register" asp-for="@Model.User.FatherName"
                       id="exampleInputFatherName" placeholder="Ata adı" required>
            </div>
            <!-- Placeholder -->
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputBirthdate" placeholder="Doğum tarixi"
                       onfocus="(this.type='date')" asp-for="@Model.User.BirthDate" required>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-register" id="exampleInputEmail"
                       placeholder="Hesab adı" asp-for="@Model.AccountDto.AccountName" required="">
            </div>
            <div class="col-sm-6">
                <input type="email" class="form-control form-control-register" id="exampleInputEmail"
                       placeholder="Email adresi" asp-for="@Model.AccountDto.Email">
            </div>
        </div>

        <!-- Password -->
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-register"
                       id="exampleInputPassword" placeholder="Parol" asp-for="@Model.Password">
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control form-control-register"
                       id="exampleRepeatPassword" placeholder="Parolu təkrarla" asp-for="@Model.RepeatPassword">
            </div>
        </div>
        
        <div id="studentSection" style="display: none;" class="form-group row">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-register"
                           id="exampleInputAcceptanceDate" placeholder="Daxil olma tarixi"
                           onfocus="(this.type='date')">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    @Html.DropDownListFor(p=>p.Student.SpecialtyId,Model.SpecialtyList,new {@class="form-control form-control-register"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 d-flex justify-content-center">
                    @Html.DropDownListFor(p=>p.Student.GroupId,Model.GroupList,new {@class="col-sm-6 mb-3 mb-sm-0 form-control form-control-register"})
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-6 ">
                @Html.RadioButtonFor(model=>model.User.Gender,false)
                <label for="gender">Kişi</label><br>
                
                @Html.RadioButtonFor(model=>model.User.Gender,true)
                <label for="gender">Qadın</label>
            </div>
        </div>
        
        
        
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Qeydiyyatı tamamla
        </button>
        <hr>

    </form>
</div>
@section Scripts{
    <script src="@Href("~/js/section.js")"></script>
}
