@model UserViewModel
@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">İstifadəçi əlavə et!</h1>
    </div>
    <form class="user" asp-action="NewUser" asp-controller="User">

        <!-- Ad,soyad -->
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputFirstName" placeholder="Ad" asp-for="@Model.User.FirstName" required="">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputLastName" placeholder="Soyad" asp-for="@Model.User.LastName" required="">
            </div>
        </div>

        <!-- Ata adı,doğum günü -->
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-register" asp-for="@Model.User.FatherName"
                       id="exampleInputFatherName" placeholder="Ata adı" required="">
            </div>
            <!-- Placeholder -->
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-register"
                       id="exampleInputBirthdate" placeholder="Doğum tarixi"
                       onfocus="(this.type='date')" asp-for="@Model.User.BirthDate" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 ">
                @*<input type="radio" id="gender" asp-for="@Model.User.Gender">*@
                @Html.RadioButtonFor(model=>model.User.Gender,false,"required")
                <label for="gender">Kişi</label><br>

                @*<input type="radio" id="gender" asp-for="@Model.User.Gender">*@
                @Html.RadioButtonFor(model=>model.User.Gender,true,"required")
                <label for="gender">Qadın</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-user btn-block">
            Qeydiyyatı tamamla
        </button>
        <hr>

    </form>
</div>
