@model UserViewModel
@{
    ViewData["Title"] = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">İstifadəçilər</h1>
<p class="mp-4">
    Burdakı istifadəçilər işçi heyəti və hal hazırda akademiyada təhsil alan tələbələrdir.
    <span class="pull-left">
        <button type="button" class="btn btn-primary float-right" onclick="ShowSaveModal(this)" data-toggle="modal" data-controller="User" data-action="SaveUser" data-id="0" id="myBtnAdd">Əlavə et</button>
        <a class="btn btn-primary float-right mr-2" asp-action="DeactiveUsers" asp-controller="User">Bloklanmış istifadəçilər</a>
    </span>
</p>
<br>

<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Ata adı</th>
                        <th>Doğum tarixi</th>
                        <th>Sonuncu düzəliş</th>
                        <th>Yenilə</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.FatherName</td>
                            <td>@item.BirthDate.ToString("d")</td>
                            <td>@item.LastModified.ToString("d")</td>
                            <td class="text-center"><a class="btn btn-secondary px-4 px-sm-4 bgupdate" onclick="ShowSaveModal(this)" data-toggle="modal" data-controller="User" data-action="SaveUser" data-id="@item.Id" id="btnUpdate">Yenilə</a></td>
                            <td class="text-center"><a class="btn btn-danger delete px-4 px-sm-4" data-id="@item.Id" data-toggle="modal" data-target="#deleteModal" data-controller="User" data-action="Delete">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="createModal">
    </div>
}

@section Scripts{
   
    <script src="@Href("~/js/section.js")"></script>
}