@model ResourceViewModel
<div class="modal-dialog modal-dialog-scrollable modal-lg">
    <!-- Modal content -->
    <div class="modal-content" id="editDebtModelBody">
        <div style="overflow:auto;" class="modal-body">
            <form asp-controller="Resource" asp-action="SaveResource" class="form-group" enctype="multipart/form-data">
                <input hidden asp-for="File.Id" />
                <input hidden asp-for="File.FilePath" />
                <input hidden asp-for="File.PhotoPath" />
                <input hidden asp-for="File.GUID" />
                <div class="form-group">
                    <label for="name" class="mr-sm-2">Ad:</label>
                    <input asp-for="File.Name" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="File.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Fayl tipi:</label>
                    @Html.DropDownListFor(s=> s.File.FileType.Id, Model.FileTypeList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Kateqoriya:</label>
                    @Html.DropDownListFor(s=> s.File.Category.Id, Model.CategoryList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Orjinal dil:</label>
                    @Html.DropDownListFor(s=> s.File.OriginalLanguage.Id, Model.LanguageList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Çap dili: </label>
                    @Html.DropDownListFor(s=> s.File.PublicationLanguage.Id, Model.LanguageList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    @if (Model.File.Name != null)
                    {
                        <a class="btn btn-info" name="submit" id="submitFileButton">Faylı dəyiş</a>
                        <div id="chooseFileDiv">
                        </div>
                    }
                    else
                    {
                        <label for="name" class="mr-sm-2">Fayl əlavə et:</label>
                        <input type="file" asp-for="AddedFile" class="form-control mb-2 mr-sm-2" id="inputGroupFile02">
                        <span asp-validation-for="AddedFile" class="text-danger"></span>
                    }
                </div>

                <div class="form-group">
                    @if (Model.File.Name != null)
                    {
                        <a class="btn btn-info" name="submit" id="submitPhotoButton">Şəkili dəyiş</a>
                        <div id="choosePhotoDiv">
                        </div>
                    }
                    else
                    {
                        <label for="name" class="mr-sm-2">Şəkil əlavə et:</label>
                        <input type="file" asp-for="AddedPicture" class="form-control mb-2 mr-sm-2 fileUpload" id="inputGroupFile02">
                        <span asp-validation-for="AddedPicture" class="text-danger"></span>
                    }
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Nəşrimizdir:</label>
                    @Html.DropDownListFor(s=> s.EditionStatusId, Model.BooleanList,new {@class="custom-select form-control"})
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Çap evi:</label>
                    <input asp-for="File.PublisherName" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="File.PublisherName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Çap tarixi:</label>
                    <input asp-for="File.PublicationDate" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="File.PublicationDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Səhifə sayı:</label>
                    <input asp-for="File.PageNumber" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="File.PageNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="name" class="mr-sm-2">Description:</label>
                    <input asp-for="File.Description" class="form-control mb-2 mr-sm-2" />
                    <span asp-validation-for="File.Description" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary bgupdate">Yadda saxla</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        $(document).ready(function()
        {
            let fileCount = 1;
            let photoCount = 1;
             $("#submitFileButton").click(function () {
            //your code here
              fileCount++;
            if(fileCount % 2 == 0)
            {
                 $( "#chooseFileDiv" ).append
                 //('<input type="file" asp-for="AddedFile" class="form-control mb-2 mr-sm-2 fileUpload" id="inputGroupFile02"> <span asp-validation-for="AddedFile" class="text-danger"></span>');
                 ('<input type="file" class="form-control mb-2 mr-sm-2" id="inputGroupFile02" data-val="true" data-val-required="The AddedFile field is required." name="AddedFile">   <span class="text-danger field-validation-valid" data-valmsg-for="AddedFile" data-valmsg-replace="true"></span>');
            }
            else
            {
                $("#chooseFileDiv").empty()
            }

         });

        $("#submitPhotoButton").click(function () {
            //your code here
            photoCount++;
            if(photoCount % 2 == 0)
            {
              $( "#choosePhotoDiv" ).append
              ('<input type="file" class="form-control mb-2 mr-sm-2 fileUpload" id="inputGroupFile02" data-val="true" data-val-required="The AddedPicture field is required." name="AddedPicture">  <span class="text-danger field-validation-valid" data-valmsg-for="AddedPicture" data-valmsg-replace="true"></span>');
            }
            else
            {
                $("#choosePhotoDiv").empty()
            }
        });
    });
</script>
<partial name="_ValidationScriptsPartial" />