@model ResourceViewModel
@{
    Layout = "_Layout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    @{
        if(Model.File.FileType!=null)
        {
            <h1 class="h3 mb-2 text-gray-800">@Model.File.FileType.Name</h1>
            <p class="mp-4">
                Buradakı @Model.File.FileType.Name.ToLower() akademiyanın nəşrləri həmçinin xarici mənbələrdən toplanan resurslardır.
            <span class="float-right">
                <a class="btn btn-primary" onclick="ShowSaveModal(this)" data-toggle="modal" data-id="0" id="myBtnAdd"><i class='fas fa-download'></i>Əlavə et</a>
            </span>
            </p>
        }
        else
        {
            <h1 class="h3 mb-2 text-gray-800">Resurslar</h1>
            <p class="mp-4">
                Buradakı resurlar akademiyanın nəşrləri həmçinin xarici mənbələrdən toplanan resurslardır.
            <span class="float-right">
                <a class="btn btn-primary" onclick="ShowSaveModal(this)" data-toggle="modal" data-id="0" id="myBtnAdd"><i class='fas fa-download'></i>Əlavə et</a>
            </span>
            </p>
        }
    }
    <br>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Kateqoriya</th>
                        <th>Orjinal dil</th>
                        <th>Çap dili</th>
                        <th>Nəşrimizdir?</th>
                        <th>Şəkil</th>
                        <th>Fayl</th>
                        <th>Çap evi</th>
                        <th>Çap tarixi</th>
                        <th>Səhifə sayı</th>
                        <th>Description</th>
                        <th>Son dəyişilmə tarixi</th>
                        <th>Yenilə</th>
                        <th>Sil</th>
                    </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ad</th>
                            <th>Kateqoriya</th>
                            <th>Orjinal dil</th>
                            <th>Çap dili</th>
                            <th>Nəşrimizdir?</th>
                            <th>Şəkil</th>
                            <th>Fayl</th>
                            <th>Çap evi</th>
                            <th>Çap ili</th>
                            <th>Səhifə sayı</th>
                            <th>Description</th>
                            <th>Son dəyişilmə tarixi</th>
                            <th>Yenilə</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var file in Model.Files)
                        {
                            <tr>
                                <td>@file.Name</td>
                                <td>@file.Category.Name</td>
                                <td>@file.OriginalLanguage.Name</td>
                                <td>@file.PublicationLanguage.Name</td>
                                <td>@file.EditionStatus</td>
                                <td><a onclick="ShowPhotoModal(this)" data-path="@file.PhotoPath" data-toggle="modal"  class="btn btn-info" name="submit" id="submit">Aç</a></td>     
                                @{
                                    if (@file.ExistingStatus)
                                    {
                                        <td><button target="_blank" disabled class="btn btn-info" name="submit" id="submit">Aç</button></td>                                           
                                    }
                                    else
                                    {
                                        <td><a target="_blank" asp-action="OpenFile"  asp-controller="Resource" asp-route-path="@file.FilePath" class="btn btn-info changeUrl" name="submit" id="submit">Aç</a></td>                                           
                                    }
                                }
                                <td>@file.PublisherName</td>
                                <td>@file.PublicationDate.Year.ToString()</td>
                                <td>@file.PageNumber</td>
                                <td class="text-center"><a class="btn btn-primary">Show</a></td>
                                <td>@file.LastModified.ToString("d")</td>
                                <td><button class="btn btn-primary bgupdate" onclick="ShowSaveModal(this)" data-id="@file.Id" id="btnUpdate"><i class='fas fa-download'></i> Update</button></td>
                                <td><a class="btn btn-danger bgdelete" onclick="ShowDeleteModal(this)" data-toggle="modal" data-id="@file.Id" data-target="#DelModal"  id="btnDel"><i class='fas fa-trash-alt'></i> Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Modals
{
    <div class="modal fade" id="createModal">
    </div>

    <div class="modal fade" id="createPhotoModal">
    </div>

    <div class="modal fade" id="DelModal">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete row</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div style="overflow-x:auto;" class="modal-body ">
                    <p>Are you sure to delete this row?</p>
                </div>

                <div class="modal-footer">
                    <form asp-action="DeleteResource" asp-controller="Resource" method="post">
                        <input asp-for="DeletedResource.Id" class="deletedId" hidden />
                        <button type="submit" class="btn btn-primary bgupdate">Yes</button>
                        <button type="button" class="btn btn-danger bgdelete" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="@Href("~/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
    <script src="@Href("~/js/demo/datatables-demo.js")"></script>

    <script>
        function ShowDeleteModal(elem) {
            var dataId = $(elem).data("id");
            $(".deletedId").val(dataId);
        }

        function ShowSaveModal(elem) {
            var dataId = $(elem).data("id");

            $.ajax({
                //url: "/librarydashboardv2/Resource/SaveResource?id=" + dataId,
                url: "/Resource/SaveResource?id=" + dataId,
                success: function (data) {
                    $('#createModal').html(data);
                    $("#createModal").modal("show");
                },
                error : function(error) {
                    console.log(error);
                }
            });
        }

        function ShowPhotoModal(elem) {
            var dataPath = $(elem).data("path");

            $.ajax({
                url: "/librarydashboardv2/Resource/ShowPhotoModal?path=" + dataPath,
                success: function (data) {
                    console.log(data);
                    $('#createPhotoModal').html(data);
                    $("#createPhotoModal").modal("show");
                },
                error : function(error) {
                    console.log(error);
                }
            });
        }

        $(document).ready(function () {

            $('#dataTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" style="width:100%;" />');
            });

            var table = $('#dataTable').DataTable();

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });

        $('.changeUrl').click(function(event) {
            var url = $(this).attr('href');
            let fullUrl = "https://lib.dia.edu.az" + url + "#toolbar=0";
            window.open(fullUrl, '_blank');
        });
    </script>
}
