@model ResourceViewModel
@{
    Layout = "_Layout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Fənn proqramları</h1>
    <p class="mp-4">
        Buradakı fənn proqramları 4 il ərzində bu və ya digər ixtisaslarda tədris ediləcək fənnlərin toplusudur.
    <span class="float-right">
        <button class="btn btn-primary bgupdate" onclick="ShowSaveModal(this)" data-toggle="modal" data-id="0" id="myBtnAdd"><i class='fas fa-download'></i>Əlavə et</button>
    </span>
    </p>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Təhsil səviyyəsi</th>
                            <th>İxtisas</th>
                            <th>Qüvvədədir?</th>
                            <th>Başlama tarixi</th>
                            <th>Müddəti</th>
                            <th>Fayl</th>
                            <th>GUID</th>
                            <th>Son dəyişilmə tarixi</th>
                            <th>Yenilə</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ad</th>
                            <th>Təhsil səviyyəsi</th>
                            <th>İxtisas</th>
                            <th>Qüvvədədir?</th>
                            <th>Başlama tarixi</th>
                            <th>Müddəti</th>
                            <th>Fayl</th>
                            <th>GUID</th>
                            <th>Son dəyişilmə tarixi</th>
                            <th>Yenilə</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach(var educationalProgram in Model.EducationalPrograms)
                        {
                            <tr>
                                <td>@educationalProgram.Name</td>
                                <td>@educationalProgram.EducationLevel</td>
                                <td>@educationalProgram.Specialty.Name</td>
                                <td>@educationalProgram.IsActive</td>
                                <td>@educationalProgram.ProgramDate.ToString("dd/MM/yyyy")</td>
                                <td>@educationalProgram.EducationTime</td>
                                <td><a target="_blank"  asp-action="OpenFile"  asp-controller="Resource" asp-route-path="@educationalProgram.FilePath" class="btn btn-info" name="submit" id="submit">Aç</a></td>                                           
                                <td>@educationalProgram.GUID</td>
                                <td>@educationalProgram.LastModified</td>
                                <td><button class="btn btn-primary bgupdate" onclick="ShowSaveModal(this)" data-id="@educationalProgram.Id" id="btnUpdate"><i class='fas fa-download'></i> Update</button></td>
                                <td><button class="btn btn-danger bgdelete" onclick="ShowDeleteModal(this)" data-toggle="modal" data-id="@educationalProgram.Id" data-target="#DelModal"  id="btnDel"><i class='fas fa-trash-alt'></i> Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="createModal">
</div>

<div class="modal fade" id="DelModal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete row</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div style="overflow-x:auto;" class="modal-body ">
                <p>Are you sure to delete this row?</p>
            </div>

            <div class="modal-footer">
                <form asp-action="DeleteEducationalProgram" asp-controller="Resource" method="post">
                    <input asp-for="DeletedEducationalProgram.Id" class="deletedId" hidden />
                    <button type="submit" class="btn btn-primary bgupdate">Yes</button>
                    <button type="button" class="btn btn-danger bgdelete" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Href("~/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
    <script src="@Href("~/js/demo/datatables-demo.js")"></script>

    <script>
        function ShowDeleteModal(elem) {
            var dataId = $(elem).data("id");
            $(".deletedId").val(dataId);
        }

        function ShowSaveModal(elem) {
            var dataId = $(elem).data("id");

            $.ajax({
                url: "/Resource/SaveEducationalProgram?id=" + dataId,
                success: function (data) {
                    console.log(data);
                    $('#createModal').html(data);
                    $("#createModal").modal("show");
                },
                error : function(error) {
                    console.log(error);
                }
            });
        }

        $(document).ready(function () {

            $('#dataTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search" style="width:100%;" />');
            });

            var table = $('#dataTable').DataTable();

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>
}