@model FacultyViewModel;
@{
    ViewData["Title"] = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Fakültələr</h1>
<p class="mp-4">
    <span class="pull-left">
        <button type="button" class="btn btn-primary float-right mb-2" name="submit" id="submit" data-toggle="modal" data-target="#addUserModal">Əlavə et</button>
    </span>
</p>
<br>

<div class="card shadow mb-4 w-100">
   
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fakültə adı</th>
                        <th>Yenilə</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Faculties)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td class="text-center"><a class="btn btn-primary px-sm-3" href="#">Yenilə</a></td>
                            <td class="text-center"><a class="btn btn-danger delete px-sm-3" data-id="@item.Id" data-toggle="modal" data-target="#deleteModal" data-controller="Faculty" data-action="Delete">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals{
    <!-- Add User Modal - addUserModal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
        <form class="user" asp-action="Add" asp-controller="Faculty" asp-antiforgery="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fakültə əlavə et</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row d-flex justify-content-center">
                            <div class="col-sm-6 col-sm-10 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-register"
                                   id="exampleInputFirstName" placeholder="Fakültə adı" asp-for="@Model.Faculty.Name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" >Təsdiqlə</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Ləğv et</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Add Student Modal - addStudentModal -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Qeydiyyatı tamamla!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="user">
                        <div class="form-group row">
                            <select class="col-sm-6 btn-block form-control-register">
                                <option selected data-UserId="12">Taleh Məlikov</option>
                            </select>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-register"
                                   id="exampleInputAcceptanceDate" placeholder="Daxil olma tarixi"
                                   onfocus="(this.type='date')">
                            </div>
                        </div>
                        <div class="form-group row">
                            <select class="col-sm-6 btn-block form-control-register">
                                <option selected>--İxtisas seç--</option>
                                <option data-UserId="1">İnzibati idarəetmə</option>
                                <option data-UserId="2">Siyasi idarəetmə</option>
                            </select>
                            <select class="col-sm-6 form-control-register">
                                <option selected>--Qrup seç--</option>
                                <option data-UserId="1">K201</option>
                                <option data-UserId="2">K202</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ləğv et</button>
                    <a class="btn btn-primary" href="#">Qeydiyyatı tamamla</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Student Modal - updateUserModal -->
    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Məlumatları yenilə!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="user">
                        <!-- Ad,soyad -->
                        <div class="form-group row">
                            <select class="col-sm-6 btn-block form-control-register">
                                <option selected data-UserId="12">Taleh Məlikov</option>
                            </select>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-register"
                                   id="exampleInputAcceptanceDate" placeholder="06/29/2003"
                                   onfocus="(this.type='date')">
                            </div>
                        </div>
                        <div class="form-group row">
                            <select class="col-sm-6 btn-block form-control-register">
                                <option>--İxtisas seç--</option>
                                <option selected data-UserId="1">İnzibati idarəetmə</option>
                                <option data-UserId="2">Siyasi idarəetmə</option>
                            </select>
                            <select class="col-sm-6 form-control-register">
                                <option>--Qrup seç--</option>
                                <option selected data-UserId="1">K201</option>
                                <option data-UserId="2">K202</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ləğv et</button>
                    <a class="btn btn-primary" href="#">Yenilə</a>
                </div>
            </div>
        </div>
    </div>


}

    @section Scripts{

    <script src="@Href("~/js/section.js")"></script>
}