@using Library.WebUI.ViewModels
@model ActivityViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@section navbar_bottom
    {
       <section id="navbottom">
          <div class="container-lg">
              <nav class="navbar-down">
                <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                    Ana səhifə
                </a>
                
                <div class="dropdown">
                    <a class="btn btn-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Bizim kitabxana
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="@Url.Action("MoreInfo","OurLibrary")">Ümumi məlumat</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("ExternalSource","OurLibrary")">Digər kitabxanalar</a></li>
                        <li><a class="dropdown-item" asp-controller="Activity" asp-action="Index">Yeniliklər</a></li>
                        <li><a class="dropdown-item" asp-controller="File" asp-action="ShowOurPublications">Bizim nəşrlərimiz</a></li>
                    </ul>
                </div>
                
                <div class="dropdown">
                    <a class="btn btn-menu dropdown-toggle" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false" asp-action="Index" asp-controller="Category">
                        E-Kitabxana
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" asp-action="ECatalogIndex" asp-controller="File">E-Kataloq</a></li>
                        <li><a class="dropdown-item" asp-action="Index" asp-controller="Category">E-Kitablar</a></li>
                        <li class="sub"><a class="dropdown-item" href="#">E-Resurslar</a></li>
                
                        <ul class="submenu">
                            @foreach(var item in @ViewBag.AllFileTypes)
                            {
                                <li><a asp-controller="File" asp-action="ShowFilteredFiles" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a></li>
                            }
                        </ul>
                    </ul>
                </div>
                
               @* @{
                    if(!string.IsNullOrEmpty(HttpContextAccessor?.HttpContext?.Session.GetString("AccessToken")))
                    {
                        <a class="btn btn-menu " asp-action="Index" asp-controller="PrivateOffice" >
                            Şəxsi kabinet
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-menu modal-btn">
                            Giriş
                        </a>
                    }
                }*@
              </nav>
          </div>
       </section>
    }

<section id="news" class="py-4">
    <div class="container">
        <div class="row">
            @{
                @foreach (var data in Model.Activities.Data)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center d-sm-flex">
                        <div class="news-page border m-2 p-2">
                            <a asp-controller="Activity" asp-action="Show" asp-route-id="@data.Id">
                                <div class="news-img">
                                    <img src="@Url.Action("Picture","Resources",new {name=data.PhotoPath})">
                                </div>
                                <h5 class="news-title py-2 px-1">
                                    @data.Title
                                </h5>
                            </a>
                            <p class="news-content text-muted px-1">
                                @data.Content.Substring(0,200)
                                ...
                            </p>
                            <hr class="m-0">
                            <div class="data-time p-1">

                                <span class="data">
                                    @data.CreatedDate.ToString("dd.mm.yyyy")
                                </span>
                                <span class="data float-end">@data.CreatedDate.ToString("H:MM")</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
