@model ActivityViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@section navbar_bottom
    {
       <section id="navbottom">
          <div class="container-lg">
              <nav class="navbar-down">
                <a class="btn btn-menu red" asp-action="Index" asp-controller="Home">
                    Ana səhifə
                </a>
                
                <div class="dropdown">
                    <a class="btn btn-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Bizim kitabxana
                    </a>
                
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="@Url.Action("MoreInfo","OurLibrary")">Ümumi məlumat</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("ExternalSource","OurLibrary")">Digər kitabxanalar</a></li>
                        <li><a class="dropdown-item" asp-controller="Activity" asp-action="Index">Yeniliklər</a></li>
                    </ul>
                </div>
                
                  <div class="dropdown">
                      <a class="btn btn-menu dropdown-toggle kitabxanaBtn" role="button" id="dropdownMenuLink"
                         data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown" data-submenu >
                          E-Kitabxana
                      </a>

                      <div class="dropdown-menu">
                          <a class="dropdown-item" asp-action="ECatalogIndex" asp-controller="File">E-Kataloq</a>
                          <a class="dropdown-item" asp-controller="Category" asp-action="Index">E-Kitablar</a>
                          <div class="dropdown dropright dropdown-submenu">
                              <a class="dropdown-item dropdown-toggle" href="#">E-Resurslar</a>

                              <div class="dropdown-menu">
                                  @foreach(var item in @ViewBag.AllFileTypes)
                                  {
                                      <a asp-controller="File" asp-action="ShowFilteredFiles" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a>
                                  }
                              </div>
                          </div>
                          <a class="dropdown-item" asp-controller="File" asp-action="ShowOurPublications">Nəşrlərimiz</a>
                      </div>
                        

                  </div>
              </nav>
          </div>
       </section>
    }

<section id="news" class="py-4">
    <div class="container">
        <div class="row">
            @{
                @foreach (var data in Model.Activities.Data)
                {

                    <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center d-sm-flex">
                        <div class="news-page border m-2 p-2">
                            <a asp-controller="Activity" asp-action="Show" asp-route-id="@data.Id">
                                @if (!String.IsNullOrWhiteSpace(data.PhotoPath))
                                {
                                    <div class="news-img">
                                        <img src="@Url.Action("ActivityPhoto", "Resources", new { name = data.PhotoPath })">
                                    </div>
                                }
                                
                                <h5 class="news-title py-2 px-1 text-center">
                                    @data.Title
                                </h5>
                            </a>
                            @{
                                if (!String.IsNullOrWhiteSpace(data.PhotoPath))
                                {
                                    <p class="news-content text-muted text-justify px-1">
                                        @data.Content.Substring(0,250)...
                                    </p>
                                }
                                else
                                {
                                    <p class="news-content text-muted text-justify px-1">
                                        @data.Content.Substring(0,487)...
                                    </p>
                                }
                            }
                            
                            <hr class="m-0">
                            <div class="data-time p-1">
                                <span class="data">
                                    @data.CreatedDate.ToString("d")
                                </span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
